/* Layout da HOME */
.pokedex-container {
  @apply max-w-5xl mx-auto px-4 py-8;
}

.pokedex-header {
  @apply text-center mb-6;
}

.pokedex-title {
  @apply text-4xl font-bold text-gray-800;
}

/* Busca */
.search-bar {
  @apply mb-6 flex justify-center;
}

.search-input {
  @apply w-full max-w-md p-3 border rounded-lg shadow-sm
         focus:outline-none focus:ring-2 focus:ring-blue-500;
}

/* Lista */
.pokemon-list {
  @apply grid grid-cols-1 md:grid-cols-3 gap-8;
}

/* Card */
.card {
  @apply bg-green-100 rounded-xl shadow-lg p-6 flex flex-col items-center 
         transition-transform hover:scale-105 cursor-pointer;
  @apply border border-gray-200;
}

/* imagem */
.card-img {
  @apply w-40 h-40 object-contain mb-4;
}

/* título */
.card-title {
  @apply text-center text-lg font-bold capitalize text-gray-800;
}

/* pokemon favoritos */
.team-section {
  @apply mb-10;
}

.team-title {
  @apply text-2xl font-semibold mb-4 text-center;
}

/* Wrapper do card */
.card-wrapper {
  @apply relative;
}

/* Botão */
.favorite-button {
  @apply absolute top-2 right-2 z-10;
}

/* Ícone (PNG) */
.heart-icon {
  @apply w-7 h-7 object-contain transition;
}

/* Quando estiver favoritado */
.heart-icon.filled {
  @apply scale-110;
}
